# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
        name = Maya Gershovitz Bar
        email = maya.solves@gmail.com
[alias]
        co = checkout
        br = branch
        ci = commit
        st = status
        up = pull --rebase
        sq = "!f() { git rebase -i HEAD~$1; }; f"
        cm = "!f() { git add .; git commit -m $1; }; f"
        fix = "!f() { git add .; git commit -m "[fixup]"; }; f"
        fixit = "!f() { git add .; git commit --amend; }; f"
        open = "!f() { url="$(git config --get remote.origin.url | tr : /)"; full_url="$(echo "${url/git@/http://}")"; open $full_url; }; f"
        discard = reset --hard
        cbr = rev-parse --abbrev-ref HEAD
        delete-remote = !sh -c \"git push origin --delete $(git cbr)\"
        branches-by-order = branch --sort=-committerdate -vv --format='%(refname:short)'
        branches = "!f() { allBranches="$(git branches-by-order)"; branchesList=($allBranches); for i in {0..2}; do echo ${branchesList[i]}; done }; f"
        cob = !sh -c \"git checkout $(git branches | fzf )\"
        colb = checkout @{-1}
        pt = !sh -c \"git push --force-with-lease origin HEAD:refs/heads/$(git lcbr)  \"
        pb = !sh -c \"git push --force-with-lease origin HEAD:refs/heads/$1  \"
        lc = rev-parse --short HEAD
        lcbr = "!f() { lastCommit="$(git lc)"; git cbr $lastCommit; }; f"
[core]
        excludesfile = /Users/mayagershovitzbar/.gitignore_global
[filter "lfs"]
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true
        clean = git-lfs clean -- %f
[init]
        templatedir = /Users/mayagershovitzbar/.git_template
